.sprite {
	background-image: url('test.png');
	background-repeat: no-repeat;
	display: block;
}

.YZ {
	background-position: -0px 0px;
	width: 1903px;
	height: 951px;
}

.BrainMaster_MainPage {
	background-position: -1903px 0px;
	width: 1920px;
	height: 1080px;
}

